/* HamburgerMenu.css */
.hamburguer {
  display: none;
}

.active {
  transition: 0.5s;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 92px;
  left: 0;
  background-color: #e2c2be;
  z-index: 110;
}
.divList {
  display: flex;
}

.icon {
  font-size: 2rem;
  background-color: transparent;
  color: var(--main-text-color);
}

.btnHamburguer {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 40px;
  cursor: pointer;
}
.listMob {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}
.listMob .listItem {
  margin: 30px;
}
.listMob .listItem .itemLink {
  color: var(--main-text-color);
  font-weight: bold;
  transition: 0.2s;
}

.divInputMob input {
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 300px;
  background-color: var(--secondary-text-color);
  border: 2px solid var(--main-text-color);
  font-size: 1.3rem;
  color: #fff;
  padding-left: 15px;
}
.divInputMob {
  margin: 0 auto;
  width: 300px;
  
  position: relative;
}

.iconSearchMob {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
  margin: 2px;
}
.btnSearchMob {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: var(--main-text-color);
  border-radius: 0px 20px 20px 0;
  height: 39px;
  right: 0px;
}
.divInputMob input::placeholder {
  color: #fff;
  font-size: 1.2rem;
  opacity: 0.5;
}
.divInputMob input:focus {
  border-color: #636161;
  outline: none;
}
.divCart {
  width: fit-content;
  margin: auto;
}

.subDivCart {
  position: relative;
  width: fit-content;
  margin: auto;
}
.divTextCart {
  text-align: center;
}
.itensCart {
  position: absolute;
}

.divTextCart .price {
  margin: auto;
}
@media (max-width: 1000px) {
  .divList {
    display: none;
    flex-direction: column;
  }

  .divList.active {
    display: flex;
  }

  .containerNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
