/* Navbar.css */
.containerNavbar {
  border-bottom: 2px solid var(--main-text-color);
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: var(--main-bg-color);
}

.subContainerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-text-color);
  width: 100%;
  height: 40px;
}
.containerLogin {
  display: flex;
  width: 100%;
  height: 20px;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  padding: 15px 0 15px 50px;
}
.divSignInUp {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.iconLogin {
  margin-right: 5px;
  width: 12px;
}

.iconMyAcc {
  margin-right: 5px;
  width: 9px;
}
.iconTracking {
  margin-right: 5px;
  width: 12px;
}

.btnLogin {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
}
.container p {
  font-size: 0.9rem;
}
.containerLogin p a {
  color: #fff;
}
.containerLogin p a:hover {
  color: orange;
  transition: 0.2s;
}

.logoNav {
  width: 120px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.logoNav img {
  width: 120px;
  margin-top: 5px;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.firstLink {
  display: flex;
  flex-wrap: nowrap;
}

.list .listItem .itemLink {
  padding: 10px;
}

.list .listItem .itemLink {
  color: #fff;
  font-weight: 100;
  transition: 0.2s;
  letter-spacing: 1px;
}

.list .listItem {
  font-size: 1.3rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
}

.itemLink:hover {
  transition: 0.2s;
  color: #9c9a9a !important;
}

.rightNavDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.divCart {
  position: relative;
}

.divTextCart {
  text-align: end;
}

.divTextCart .price {
  color: #9c9a9a;
  font-weight: 800;
}

.itensCart {
  background-color: #9c9a9a;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.iconCart {
  width: 35px;
  height: 35px;
}

.hamburguer {
  display: none;
}

.popup {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.popup p {
  margin: 0;
}


@media (max-width: 1240px) {
  .containerNavbar {
    justify-content: space-between;
  }

  .list .listItem {
    font-size: 1.3rem;
    margin: 0 1rem;
    display: flex;
  }
}

@media (max-width: 1000px) {
  .list {
    display: none;
  }

  .logoNav {
    margin: 10px 0 0 0;
    font-size: 2rem;
  }

  .hamburguer {
    display: block !important;
  }

  .logoNav img {
    width: 100px;
    margin: 5px;
  }

  .rightNavDiv {
    display: none;
  }

  .subContainerNav {
    display: none;
  }

  .desktopInput {
    display: none;
  }

  .containerNavbar {
    position: fixed;
  }
  .containerLogin {
    display: none;
  }
}
