.containerCard {
  width: 450px;
  margin: 15px;
}

.divImg img {
  width: 100%;
  max-height: 300px !important;
  object-fit: cover ;
}
.divImg {
  
  cursor: pointer;
  border: 1px solid #CCC;
  padding: 50px 0;
}
.infosCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infosCard h4 {
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}
.infosCard .description {
  font-size: 1rem;
}

.infosCard h4,
.infosCard p {
  margin: 10px;
}

.spanDefault {
  display: none;
}

.spanPromo {
  position: absolute;
  background-color: red;
  margin: 15px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 5px;
}
.spanTopSell {
  position: absolute;
  background-color: black;
  margin: 15px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 5px;
}
.spanNew {
  position: absolute;
  background-color: rgb(49, 161, 55);
  margin: 15px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 5px;
}

.prevPrice {
  text-decoration: line-through;
  font-size: 1.3rem;
  color: rgb(102, 102, 102);
}

.divPrice {
  margin: 10px;
  margin: auto;
  text-align: center;
}

.divPrice .flex {
  justify-content: center;
  align-items: center;
}
.divPrice .price {
  font-size: 1.3rem;
  color: rgb(245, 138, 38);
}

.divProducts {
  max-width: 1920px;
}
.bold {
  font-weight: bold;
}
.installments {
  font-size: 0.9rem;
}


@media (max-width: 1240px) {
  .containerCard {
    margin: 5px;
  }
}

@media (max-width: 780px) {
  .containerCard {
    height: 600px;
    width: 80%;
    margin: 15px auto;
  }
  .topContainerCard {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .containerCard {
    height: 600px;
    width: 100%;
    margin: 15px auto;
  }
  .topContainerCard {
    width: 100%;
  }
}
