.containerBanner {
  background-color: #555;
  height: 50vh;
  min-height: 50vh;
  width: 100%;
  margin: auto;
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden !important;
}

.containerBanner .img {
  object-fit: cover;
  min-height: 50vh;
  width: 100%;
}


@media (max-width: 1000px) {
  .containerBanner {
    width: 100%;
  }
}
