.containerProducts {
  text-align: center;
  font-size: 2rem;
}

.divProducts, .promoProducts {
  display: flex;
  margin: 30px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.containerProducts h2 {
  font-weight: 100;
}

.iconsConditions {
  font-size: 2rem;
  margin: 0 15px;
}

.containerCondition {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  justify-content: center;
  margin: 30px auto;
}

.condition {
  border-right: 2px solid rgba(117, 116, 116, 0.5);
  min-width: 300px;
  text-align: center;
}

.condition:last-child {
  border-right: none;
}

@media (max-width: 1000px) {
  .containerCondition {
    justify-content: space-around;
  }
  .condition {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start;
    padding: 10px;
    text-align: center;
  }

  .containerCondition::-webkit-scrollbar {
    height: 6px;
  }

  .containerCondition::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .containerCondition::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@media (max-width: 725px) {
  .condition {
    flex: 0 0 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start;
    padding: 10px;
    text-align: center;
  }

  .containerCondition::-webkit-scrollbar {
    height: 6px;
  }

  .containerCondition::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .containerCondition::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
